*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p{
    padding:0;
    margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6{
    margin: 0;
    padding: 0
}
a,
span{
    display: inline-block
}
a{
    text-decoration: none;
}
ul{
  margin: 0;
  padding: 0;
}
ul li{
    list-style: none;
}
.py-140{
   padding: 140px 0px;
}
.pt-140{
    padding-top: 140px;
}
.pb-140{
    padding-bottom: 140px;
}

.py-100{
    padding: 100px 0px;
}
.pt-100{
    padding-top: 100px;
}
.pb-100{
    padding-top: 100px;
}


@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&family=Teko:wght@400;500;600;700&display=swap');

// Font variable
$teko-font:'Teko', sans-serif;
$manrope-font:'Manrope', sans-serif;

// Color variable
$primary-color:#ED3B3B;
$black-color:#000000;
$white-color:#FFFFFF;

// primary button
.primary-btn{
    a{
        background-color: $primary-color;
        color: $white-color;
        padding: 15px 15px;
        font-size: 18px;
        font-weight: 500;
        margin-top: 50px;
        font-family: $teko-font;
        text-transform: uppercase;
        border-radius: 2px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        -ms-border-radius: 2px;
        -o-border-radius: 2px;
        letter-spacing: 2px;
        span{
            margin-left: 10px;
            font-size: 15px;
            color: $white-color;
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
}
    }
   
}
// primary title
.primary-title{
    margin-bottom: 60px;
    h5{
        color: $primary-color;
        font-size: 20px;
        font-family: 'Teko', sans-serif;
        line-height: 30px;
        margin-bottom: 10px;
        position: relative;
        &::after{
            position: absolute;
            background-image: url(../images/common-title-style.png);
            height: 100%;
            background-repeat: no-repeat;
            content: " ";
            left: 50%;
            top: 100%;
            text-align: center;
            width: 13%;
            transform: translateX(-50%);
            }
    }
    h3{
        color: #151515;
        font-family: 'Teko', sans-serif;
        font-size: 50px;
        font-weight: 600;
        line-height: 60px;
    }
}

/*
font-family: 'Manrope', sans-serif;
font-family: 'Teko', sans-serif;
*/ 

/*START:: HEADER AREA
==================================*/
@mixin clearFlex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-and-slider-wrapper{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    .shap-1{
        position: absolute;
        top: 0;
        left: 0;
    }
    .shap-2{
        position: absolute;
        bottom: 0;
        right: 0;
    }
}
header{
    position:absolute;
    width: 100%;
}
.top-header-area{
    background-color:transparent;
    padding: 26px 0px;
}
.top-header-wrapper{
    @include clearFlex;
}
.logo img{
    max-width: 163px;
}
.contact-info-item{
    @include clearFlex;
    padding-right: 40px;
    padding-left: 40px;
    border-right: 1px solid #695F5A;
}
.contact-info-item:last-child{
    padding-right: 0px;
    border-right: 0px;
}
.contact-info-item:first-child{
    padding-left: 0;
}
.top-header-contact-info{
    @include clearFlex;
}
.contact-info-item .icon{
   color: $primary-color;
   padding-right: 33px;
}
.contact-info-item .icon i{
    font-size: 45px;
}
.contact-info-item{
    .text{
        p{
            color: $white-color;
            font-size: 12px;
            font-family: $manrope-font;
        }
        h3{
            color: $white-color;
            font-size: 21px;
            font-weight: bold;
            font-family: $teko-font;
        }
    }

}
.header-menu{
    background-color: $white-color;
    @include clearFlex;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
    padding-left: 50px;
}
.main-menu{
    
}
.main-menu ul{

}
.main-menu ul > li{
    display: inline-block;
    padding: 0px 65px 0px 0px;
}
.main-menu ul > li> a{
    color: #151515;
    font-family: $manrope-font;
    font-size: 16px;
    padding: 29px 0px 29px 0px;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    text-transform: uppercase;
    font-weight: 700;
}
.main-menu ul > li:hover > a{
    color: $primary-color;
}
.main-menu ul > li > span{
    color: #151515;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}
.main-menu ul > li:hover > span{
    color: $primary-color;
}
.get-quote-header-btn{
    a{
        background-color: $primary-color;
        color: $white-color;
        text-transform: uppercase;
        font-weight: bold;
        padding:29px;
        height: 100%;
    }
    span{
        font-size: 20px;
        margin-left: 12px;
    }

}
.header-menu-right{
    @include clearFlex;
    .search{
        padding: 29px 30px;
        border-left: 1px solid #E3E3E3;
        cursor: pointer;
        span{
            font-size: 20px;
            color: #616670;
        }
    }

}
.hero-area{
    padding-top: 291px;
    padding-bottom: 231px;
}

.slider-item {
    p{
        color: $white-color;
        font-size: 20px;
        font-weight: 600;
        font-family: $teko-font;
        line-height: 30px;
        letter-spacing: 22px;
        padding-bottom: 23px;
        display: inline-block;
        position: relative;
        margin-top: 100px;

        img{
            position: absolute;
            right: -156px;
            top: -70px;
            background-repeat: no-repeat;
            width: auto !important;
        }
    }
    h1{
        color: $white-color;
        font-size: 100px;
        font-family: $teko-font;
        font-weight: 600;
        line-height: 110px;
        text-transform: uppercase;
        span{
            color: $primary-color;
            position: relative;
            background-image: url('../images/Line2.png');
            background-repeat: no-repeat;
            background-position:bottom;
        }
    }

}
/*START:: OUR SERVICES AREA
=======================================*/
.our-client-area{
    padding-top: 130px;
    padding-bottom: 120px;
    .service-more{
        
        margin-top: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        .primary-btn{
            a{
                margin-top: 0;
                padding: 5px 15px;
                font-size: 16px;
            }
        }
        p{
            line-height: 29px;
            font-family: $manrope-font;
            margin-right: 40px;
            span{
                color: $primary-color;
            }
        }
    }
}
.services-item{
    background-image: url('../images/Rectangle9.png');
    background-repeat: no-repeat;
    background-size: contain;
    padding: 20px 30px;
    text-align: center;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    .icon{
        text-align: center;
        margin-bottom: 20px;
        span{
            background-color: $primary-color;
            color: $white-color;
            font-size: 50px;
            width: 86px;
            height: 86px;
            line-height: 86px;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
        }
    }
    h3{
        font-size: 30px;
        line-height: 35px;
        font-family: 'Teko', sans-serif;
    }
    p{
        line-height: 29px;
        font-family: 'Manrope', sans-serif;
    }
    .image{
        img{
            width: 100%;
            transform: scale(0);
            -webkit-transform: scale(0);
            -moz-transform: scale(0);
            -ms-transform: scale(0);
            -o-transform: scale(0);
            position: absolute;
            left: 0;
            top: 0;
            transition: all .5s;
            -webkit-transition: all .5s;
            -moz-transition: all .5s;
            -ms-transition: all .5s;
            -o-transition: all .5s;
            transform-origin: center;
        }
    }
    &:hover{
        .image{
            img{
                transform: scale(1);
                -webkit-transform: scale(1);
                -moz-transform: scale(1);
                -ms-transform: scale(1);
                -o-transform: scale(1);
            }
        }
    }
    .services-details-link{
        position: absolute;
        left: -100%;
        transition: all .5s;
        bottom:0;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        -ms-transition: all .5s;
        -o-transition: all .5s;
        a{
            background-color: $primary-color;
            color: #FFF;
            padding:10px 22px;
            font-size: 24px;
            font-family: 'Teko', sans-serif;
            span{
                font-size: 20px;
                margin-left: 70px;
            }
        }
    }
    &:hover{
        .services-details-link{
            left: 0;
        }
    }

}
/*START:: CONNECTING AREA
===================================*/ 
.connecting-area{
  background-repeat: no-repeat;
  background-position:center;
  height:600px;
  position: relative; 

  .overlay{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: #151519;
    opacity: 70%;
    z-index: 1;
  } 
  .connecting-text{
    background-color:$white-color;
    padding: 68px 60px;
    z-index: 11;
    position: relative;
    background-repeat: no-repeat;
    background-position: right top;
    .primary-title{
        h5{
            &::after{
                left: 22px;
            }
        }
    }
    ul {
        li{
            padding: 18px 30px;
            background-image: linear-gradient(to right, #F2EEEC , #FFF);
            margin-bottom: 10px;
            font-size: 24px;
            font-family: $teko-font;
            cursor: pointer;
            transition: all .4s;
            -webkit-transition: all .4s;
            -moz-transition: all .4s;
            -ms-transition: all .4s;
            -o-transition: all .4s;
            &:hover{
                color: $primary-color;
            }
            span{
                color: $primary-color;
                margin-right: 10px;
            }
        }
    }
  }
  .connecting-video{
    position: relative; 
    color: $white-color;
    z-index: 11;
    margin-right:167px;
    text-align: right;
    margin-left: 100px;
    top: 86px;
    .shap{
        position: absolute;
        background-repeat: no-repeat;
        background-position: bottom;
        left: 35%;
        top: 20%;
    
    }
    .play-btn-area{
        a{
            position: relative;
            display: inline-block;
        }
        .video-play-button{
      
            &::before{
                content: " ";
                position: absolute;
                z-index: 0;
                left: 50%;
                top: 50%;
                transform: translateX(-50%) translateY(-50%);
                display: block;
                width: 130px;
                height: 130px;
                background: #ba1f24;
                border-radius: 50%;
                animation: pulse-border 1500ms ease-out infinite;
                -webkit-animation: pulse-border 1500ms ease-out infinite;
            }
            &::after{
                content: "";
                display: block;
                width: 130px;
                height: 130px;
                background-image: linear-gradient(to top, #ED3B3B , #000000);
                border-radius: 50%;
                transition: all 200ms;
        }
            &:hover::after{
                background-color: darken(#fa183d, 10%);
            }
            span{
                color: #FFF;
                position:absolute;
                z-index: 11;
                font-size: 25px;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            
            }
        
         
        } 
    }
    
    .consulting-play-btn-text{
        margin-top: 33px;
        p{
            line-height: 29px;
            font-family: $manrope-font;
        }
    }
    
   
   
    @keyframes pulse-border {
        0% {
          transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
          opacity: 1;
        }
        100% {
          transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
          opacity: 0;
       
        }
    }

  }
}
/*START:: COUNTER SECTION
===============================*/ 
.counter-area{
    padding-top: 90px;
    margin-top: 5px;
    background-color: $primary-color;
    padding-bottom: 100px;
    background-repeat: no-repeat;
    background-position: bottom;
    .counter-wrapper{
        .counter-item{
            display: flex;
            color: #fff;
            .icon{
                margin-right: 25px;
                span{
                    width: 100px;
                    height: 100px;
                    text-align: center;
                    align-items: center;
                    background-image: linear-gradient(to top, #ED3B3B , #000000);
                    font-size: 50px;
                    color:$white-color;
                    line-height: 100px;
                    border-radius: 100%;
                    -webkit-border-radius: 100%;
                    -moz-border-radius: 100%;
                    -ms-border-radius: 100%;
                    -o-border-radius: 100%;
                    position: relative;
                    z-index: 11;
                    display: inline-block;
                    &::after{
                        position: absolute;
                        content: "";
                        width: 102px;
                        height: 102px;
                        left: 0;
                        top: 0px;
                        z-index: -1; 
                        border-radius: 100%;
                        -webkit-border-radius: 100%;
                        -moz-border-radius: 100%;
                        -ms-border-radius: 100%;
                        -o-border-radius: 100%;
                        border: 1px solid #fff;
                    }
               
                        }
            }
            .info{
                h3{
                    font-family: $teko-font;
                    font-size: 60px;
                    line-height: 60px;
                }
                p{
                    font-size: 24px;
                    line-height: 35px;
                    font-family: $teko-font;
                }
            }
        }
    
    }
 

}
